Curves/Curves.sln
Curves/.vs/Curves/v16/.suo
Curves/.vs/Curves/v16/Browse.VC.db
Curves/.vs/Curves/v16/Browse.VC.db-shm
Curves/.vs/Curves/v16/Browse.VC.db-wal
Curves/.vs/Curves/v16/Browse.VC.opendb
Curves/.vs/Curves/v16/ipch/AutoPCH/48f1bd2f3d65d731/VIEWERWIDGET.ipch
Curves/.vs/Curves/v16/ipch/AutoPCH/ab7038c9d8ff2d90/IMAGEVIEWER.ipch
Curves/.vs/Curves/v16/ipch/AutoPCH/ea30c57ba0e2b526/MOC_IMAGEVIEWER.ipch
Curves/Curves/Curves.vcxproj
Curves/Curves/Curves.vcxproj.filters
Curves/Curves/Curves.vcxproj.user
Curves/Curves/x64/Debug/Curves.exe.recipe
Curves/Curves/x64/Debug/Curves.log
Curves/Curves/x64/Debug/ImageViewer.obj
Curves/Curves/x64/Debug/main.obj
Curves/Curves/x64/Debug/moc_ImageViewer.obj
Curves/Curves/x64/Debug/moc_NewImageDialog.obj
Curves/Curves/x64/Debug/moc_ViewerWidget.obj
Curves/Curves/x64/Debug/qrc_ImageViewer.obj
Curves/Curves/x64/Debug/qt_work.log
Curves/Curves/x64/Debug/vc142.pdb
Curves/Curves/x64/Debug/ViewerWidget.obj
Curves/Curves/x64/Debug/Curves.tlog/CL.command.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/CL.read.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/CL.write.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/Curves.lastbuildstate
Curves/Curves/x64/Debug/Curves.tlog/Curves.write.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/link.command.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/link.read.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/link.write.1.tlog
Curves/Curves/x64/Debug/Curves.tlog/moc.read.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/moc.write.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/rcc.read.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/rcc.write.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/uic.read.1u.tlog
Curves/Curves/x64/Debug/Curves.tlog/uic.write.1u.tlog
Curves/Curves/x64/Debug/moc/moc_ImageViewer.cpp
Curves/Curves/x64/Debug/moc/moc_NewImageDialog.cpp
Curves/Curves/x64/Debug/moc/moc_ViewerWidget.cpp
Curves/Curves/x64/Debug/qmake/qtvars_x64_Debug.props
Curves/Curves/x64/Debug/rcc/qrc_ImageViewer.cpp
Curves/Curves/x64/Debug/uic/ui_ImageViewer.h
Curves/Curves/x64/Debug/uic/ui_NewImgDialog.h
Curves/Curves/x64/Release/qmake/qtvars_x64_Release.props
Curves/x64/Debug/Curves.exe
Curves/x64/Debug/Curves.ilk
Curves/x64/Debug/Curves.pdb
Curves/Curves/Curves_Vallova.zip
